In [ ]:
Introduction to python programming:

In [ ]:
Understanding the variables in python

In [20]:
x = 2
y = 3

In [21]:
z = x+y

print(z)

5

In [ ]:
Rules for declairing the variables in python:

In [ ]:
Rule No 1: No namespace while declaring the variable name

In [23]:
first name = 'Faiyaz'
print(first name)

SyntaxError: invalid syntax (2642777287.py, line 1)

In [24]:
firstname = 'Faiyaz'
print(firstname)

Faiyaz

In [ ]:
Rule No 2: A variable name should not start with a number **

In [25]:
1name = 'sandeep'
print(1name)

SyntaxError: invalid decimal literal (4122457387.py, line 1)

In [ ]:
should be

In [27]:
name1 = 'sandeep'
print(name1)

sandeep

In [ ]:
Rule No 3: A variable name should not contain any special characters.

In [ ]:
e.g. @ # $ % ^ & *

In [28]:
name@ = 'Joseph'
print(name@)

SyntaxError: invalid syntax (2330996405.py, line 1)

In [ ]:
Introduction to datatypes:

In [ ]:
1. Sring ======> str

In [ ]:
2. Number (integers =====> int and Floats (decimals ====>0.1, 0.2)) ====> float

In [ ]:
lists ====> list

In [ ]:
tuples ====> tuple

In [ ]:
Dictionaries ====> dict

In [ ]:
Classification of datatypes:

In [ ]:
Broadly datatypes are classfied into two categories:

In [ ]:
1. Mutable datatypes ==>which we can edit/alter ==> flexible in nature

In [ ]:
2. Immutable datatypes ==> which we cannot be able to edit/alter ==> fixed in nature

In [ ]:
Introduction to string datatype:

In [ ]:
Definition: A string is nothing but a series of characters declared in quotes.

In [ ]:
Classification: It is classified as an immutable datatype.

In [ ]:
How to define the string datatype.

In [ ]:
1. single quotes

In [ ]:
2. double quotes

In [29]:
name = 'naga babu'           # single quote
print(name)

naga babu

In [30]:
name2 = "basha r"           # double quote
print(name2)

basha r

In [ ]:
Introduction to string methods:

In [31]:
type(name)

str

In [32]:
type(name2)

str

In [33]:
fullname = "joseph anthony"
print(fullname)

joseph anthony

In [34]:
print(fullname.title())

Joseph Anthony

In [35]:
# Req: I want the entire name in capitals....
print(fullname.upper())

JOSEPH ANTHONY

In [36]:
# Req: I want the entire name in lower letters...
print(fullname.lower())

joseph anthony